<p id="notice"><%= notice %></p>

<p>
  <strong>Query:</strong>
  <%= @question.query %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @question.explanation %>
</p>

<%= render 'quiz_form' %>





<% if @question.next(@quiz).present? %>

 <%= link_to 'Question suivante', quiz_question_path(@quiz, @question.next(@quiz)) %>

 <% else %>

 <%= link_to 'Finish quiz', quizzes_path %>

 <%= "Finish quiz" %>
<% end %>