<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Questions</th>
      <th>Réponses possibles</th>
      <th>Réponse(s) choisie(s)</th>
      <th>Explication</th>
    </tr>
  </thead>

  <tbody>
    <% @quiz.questions.each do |q| %>
      <tr>
        <td><%= q.query %></td>
        <td>
          <% q.answers.each do |answer| %>
            <%= answer.title %>
          <% end %>
        </td>
        <td>
          <% q.proposals.where(quiz_id:@quiz.id).each do |proposal| %>
            <%= proposal.answer.title %>
          <% end %>
        </td>
        <td><%= q.explanation %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= @score %>


<%= link_to 'Back', quizzes_path %>
