<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Questions</th>
      <th>Bonne réponse</th>
      <th>Réponse choisie</th>
      <th>Explication</th>
    </tr>
  </thead>

  <tbody>
    <% @quiz.questions.each do |q| %>
      <tr>
        <td><%= q.query %></td>
        <td><% q.answers.each do |answer| %>
            <%= answer.title %>
          <% end %>
        </td>
        <td><%= q.explanation %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back', quizzes_path %>
